body {
  background-color: #EEEEEE;
}

h1 {
  color: #00ADB5;
}

h3 {
  color: #00ADB5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}

img:hover {
  background-color: #00ADB5;
}

th {
  color: #00ADB5;
}

/*****************CLASS SELECTORS*****************/
.fit-picture {
  border-radius: 90%;
}
